{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
  <section class="w-full dark:bg-gray-800 min-h-screen dark:text-gray-200 flex justify-center items-center px-4 sm:px-6 lg:px-8">
    <div
      class="dark:bg-transparent rounded-2xl w-full max-w-md px-6 py-8 flex flex-col justify-center items-center box-shadow">
      {% if process == "connect" %}
        {% element h1 %}
          {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
          {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from
            {{ provider }}.{% endblocktrans %}
        {% endelement %}
      {% else %}
        {% element h1 %}
          {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
          {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from
            {{ provider }}.{% endblocktrans %}
        {% endelement %}
      {% endif %}
      {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
          {% csrf_token %}
          {% element button type="submit" %}
            {% trans "Continue" %}
          {% endelement %}
        {% endslot %}
      {% endelement %}

    </div>
  </section>
{% endblock content %}
