{% load static %}
<footer class="dark:bg-gray-800 bg-theme-light-bg py-2">
  <div class="text-center mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex gap-4 justify-between">
      <span class="block text-sm dark:text-gray-500 text-gray-600">© 2025 <a href="https://techarge.co.uk"
                                                                             class="hover:underline">Githubme™</a>. All Rights Reserved.</span>
      <a
        class="hover:text-theme-primary hover:scale-110 dark:text-gray-200 text-gray-800 transition duration-700 text-xs"
        href="https://www.techarge.co.uk">
        Made By <img class="w-16 inline-flex dark:invert" src="{% static 'img/techarge-logo.svg' %}" alt="Techarge Company Logo">
      </a>
    </div>
  </div>
</footer>
