#BASE_URL=https://openai.github.me.uk/v1/

# location to where to find the aiagents code /app/aiagents in container
SHELLTOOLS_DIR=/app/aiagents

# path to where we will check out code, defaults to /data (for container use)
BASE_DIR=/data

# local
#OPEN_API_KEY=
#BASE_URL=http://localhost:11434/v1/
#MODEL=openai/qwen3:4b

# sglang / qwen
#OPENAI_API_KEY=sk_sglang_
#BASE_URL=http://10.13.1.11:30000/v1/
#MODEL=openai/qwen3:32b

# gemini
#GEMINI_API_KEY=
#OPENAI_API_KEY=
# $300 free
#GEMINI_API_KEY=
#OPENAI_API_KEY=
#MODEL=gemini/gemini-2.5-pro-exp-03-25
#MODEL=gemini/gemini-2.5-flash-preview-04-17

#ANTHROPIC_API_KEY=
#OPENAI_API_KEY=
#MODEL=anthropic/claude-3-7-sonnet-20250219

#DEEPSEEK_API_KEY=
#OPENAI_API_KEY=
#MODEL=deepseek/deepseek-chat
