{% load static i18n %}

<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-527PH6H3');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>{% block head_title %} Githubme {% endblock head_title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta
    name="description"
    content="Github.Me: Understand any CodeBase Instantly"
  />
  <meta name="author" content="Techarge"/>
  <meta name="csrf-token" content="{{ csrf_token }}">

  <link rel="icon" href="{% static 'img/favicon.png' %}"/>
  {% block css %}

  {% endblock css %}
  <!-- Your stuff: Third-party CSS libraries go here -->
  <!-- This file stores project-specific CSS -->
  <link href="{% static "css/style.css" %}" rel="stylesheet"/>


  <!-- javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block pre_alpinejs %}
  {% endblock %}
  {% block javascript %}
    <!-- Alpine Plugins KEEP BEFORE Alphine CORE-->
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    {% django_htmx_script %}
    {% if debug %}
      <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js"></script>
    {% endif %}
  {% endblock javascript %}
  {% block extra_head %}
  {% endblock extra_head %}

  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }


  </script>

</head>
<body class="h-screen flex flex-col bg-theme-light-bg dark:bg-gray-800 {% block bodyclass %}{% endblock bodyclass %}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	  <!-- Google Tag Manager (noscript) -->
	  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-527PH6H3"
	  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	  <!-- End Google Tag Manager (noscript) -->
<!--    Navbar -->
{% if request.resolver_match.url_name == 'analyse_repo' %}
  <div class="md:pl-[60px]">
  {% include "components/navbar.html" %}</div>
{% else %}
  <div class="max-w-7xl">
  {% include "components/navbar.html" %}</div>
{% endif %}

<!-- Include the error modal partial -->
{% include "partials/errors/error_modal.html" %}

{% block body %}

  <main class="flex grow overflow-hidden min-h-0 w-full justify-center bg-theme-light-bg dark:bg-gray-800" id="main">
    {% if messages %}
      <div class="fixed top-4 right-4 w-96 space-y-2 z-50">
        {% for message in messages %}
          <div
            x-data="{ show: true }"
            x-init="setTimeout(() => show = false, 5000)"
            x-show="show"
            x-transition
            class="p-4 rounded-lg shadow-md flex items-start justify-between space-x-4
               {% if message.tags == 'success' %} bg-green-100 text-green-800 border-green-300 {% endif %}
               {% if message.tags == 'error' %} bg-red-100 text-red-800 border-red-300 {% endif %}
               {% if message.tags == 'warning' %} bg-yellow-100 text-yellow-800 border-yellow-300 {% endif %}
               {% if message.tags == 'info' %} bg-blue-100 text-blue-800 border-blue-300 {% endif %}"
          >
            <span class="flex-1">{{ message }}</span>
            <button @click="show = false" class="text-gray-600 hover:text-gray-900">
              ✖
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% block main %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    {% endblock main %}
  </main>
{% endblock body %}
{% block extra_body %}
{% endblock extra_body %}

{% block footer %}
    {% include "components/footer-minimal.html" %}
{% endblock footer %}
<!-- /container -->
{% block modal %} {% endblock modal %}
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
{% block inline_javascript %}
{% endblock inline_javascript %}
<div class="hidden">
<a href="https://viesearch.com/">Viesearch - The Human-curated Search Engine</a>
</div>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0c7c56d9426942d48d0da595b869d751"}'></script>
<!-- End Cloudflare Web Analytics -->
</body>
</html>
