{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  <section class="w-full dark:bg-gray-800 min-h-screen dark:text-gray-200 flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8">
    <div
      class="bg-white dark:bg-transparent rounded-2xl w-full max-w-md px-6 py-8 flex flex-col justify-center items-center box-shadow">
      {% element h1 %}
        {% trans "Sign Up" %}
      {% endelement %}
      <div class="p-4 text-center text-sm md:text-base">
        Your Github login will only be used to access public Github repositories. If you wish to run against private
        repositories you will need to install our
        <a href="https://github.com/apps/analyse-github-repo"
           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
          Github App
        </a>
        on your account and grant appropriate permissions.
      </div>
      {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
          <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
          </a>
        {% endsetvar %}
        {% element p %}
          {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
        {% endelement %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
          {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
          {% endslot %}
          {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
              {% trans "Sign Up" %}
            {% endelement %}
          {% endslot %}
        {% endelement %}
      {% endif %}
      {% if PASSKEY_SIGNUP_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
          {% trans "Sign up using a passkey" %}
        {% endelement %}
      {% endif %}
      {% if SOCIALACCOUNT_ENABLED %}
        <div>
          {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
      {% endif %}

    </div>
  </section>
{% endblock content %}
